---
type Props = {
  eyebrow: string;
  text: string;
};

const { eyebrow, text } = Astro.props;
---

<div class="mb-10 space-y-4 text-center">
  <h2 class="text-pretty text-3xl font-normal leading-tight tracking-tight sm:text-4xl">{eyebrow}</h2>
  <p class="mx-auto max-w-2xl text-pretty font-sans text-lg leading-7 tracking-tight text-foreground-muted sm:text-xl sm:leading-8">
    {text}
  </p>
</div>
