---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

type AccordionItemProps = HTMLAttributes<"div"> & {
  value: string;
  variant?: keyof typeof accordionItemVariants;
};

const accordionItemVariants = {
  default: "border-b border-border bg-background last:border-b-0",
  card: "border-b border-border bg-background last:border-b-0",
};

const {
  value,
  variant = "default",
  class: className,
  ...props
} = Astro.props as AccordionItemProps;
---
<div
    data-accordion-item={value}
    data-state="closed"
    class={cn(accordionItemVariants[variant], className)}
    {...props}
  >
    <slot />
  </div>
