---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

type AccordionContentProps = HTMLAttributes<"div">;

const { class: className, ...props } = Astro.props as AccordionContentProps;
---
<div
    data-accordion-content
    data-state="closed"
    class={cn(
      'accordion-content grid text-sm',
      className
    )}
    {...props}
  >
    <div class="overflow-hidden">
      <div class="max-w-3xl px-6 pb-5 pt-3 font-sans text-sm leading-6 text-foreground-muted"><slot /></div>
    </div>
  </div>

<style>
  .accordion-content {
    grid-template-rows: 0fr;
    transition: grid-template-rows 200ms ease-out;
  }

  .accordion-content[data-state='open'] {
    grid-template-rows: 1fr;
  }
</style>
