---
import NavCard from '@/components/NavCard.astro'
import { docsCards } from '@/content/docs-nav'
---

<div class="mt-8 grid grid-cols-1 gap-2 sm:grid-cols-2">
  {
    docsCards.map((card) => (
      <NavCard title={card.label} description={card.description} href={card.path} />
    ))
  }
</div>
